1. read in data
2. fix null values
3. change data type of column

In [2]:
import pandas as pd

### Read in data

In [3]:
df = pd.read_csv('pokemon_pokedex_data.csv')

In [18]:
df.head(10)

,pokedex_id,name,type_1,type_2,total_attack,health_points,attack,defense,special_attack,special_defense,speed,generation,is_legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NA,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NA,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NA,314,44,48,65,50,64,43,1,False

In [9]:
df.dtypes

pokedex_id          int64
name               object
type_1             object
type_2             object
total_attack        int64
health_points       int64
attack              int64
defense             int64
special_attack      int64
special_defense     int64
speed               int64
generation          int64
is_legendary         bool
dtype: object

In [5]:
df.describe()

,pokedex_id,total_attack,health_points,attack,defense,special_attack,special_defense,speed,generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

### Take care of null values

In [7]:
df.isnull()

,pokedex_id,name,type_1,type_2,total_attack,health_points,attack,defense,special_attack,special_defense,speed,generation,is_legendary
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,False,False,False,False,False,False,False,False,False,False,False,False,False
796,False,False,False,False,False,False,False,False,False,False,False,False,False
797,False,False,False,False,False,False,False,False,False,False,False,False,False
798,False,False,False,False,False,False,False,False,False,False,False,False,False
799,False,False,False,False,False,False,False,False,False,False,False,False,False

In [12]:
df.isnull().any()

pokedex_id         False
name               False
type_1             False
type_2              True
total_attack       False
health_points      False
attack             False
defense            False
special_attack     False
special_defense    False
speed              False
generation         False
is_legendary       False
dtype: bool

In [13]:
df.isnull().sum()

pokedex_id           0
name                 0
type_1               0
type_2             386
total_attack         0
health_points        0
attack               0
defense              0
special_attack       0
special_defense      0
speed                0
generation           0
is_legendary         0
dtype: int64

In [15]:
df = df.fillna('NA')

### Change data type of a column

In [16]:
df['pokedex_id']=df['pokedex_id'].astype(str)

In [17]:
df.dtypes

pokedex_id         object
name               object
type_1             object
type_2             object
total_attack        int64
health_points       int64
attack              int64
defense             int64
special_attack      int64
special_defense     int64
speed               int64
generation          int64
is_legendary         bool
dtype: object

### Data aggregating and grouping

In [21]:
grouped_mean = df.groupby('type_1')['total_attack'].mean().sort_values()
print(grouped_mean)

type_1
Bug         378.927536
Poison      399.142857
Normal      401.683673
Fairy       413.176471
Fighting    416.444444
Grass       421.142857
Water       430.455357
Ice         433.458333
Ground      437.500000
Ghost       439.562500
Electric    443.409091
Dark        445.741935
Rock        453.750000
Fire        458.076923
Psychic     475.947368
Flying      485.000000
Steel       487.703704
Dragon      550.531250
Name: total_attack, dtype: float64

In [22]:
grouped_mean = df.groupby('type_1')['defense'].mean().sort_values()
print(grouped_mean)

type_1
Normal       59.846939
Fairy        65.705882
Fighting     65.925926
Flying       66.250000
Electric     66.295455
Psychic      67.684211
Fire         67.769231
Poison       68.821429
Dark         70.225806
Bug          70.724638
Grass        70.800000
Ice          71.416667
Water        72.946429
Ghost        81.187500
Ground       84.843750
Dragon       86.375000
Rock        100.795455
Steel       126.370370
Name: defense, dtype: float64

In [25]:
grouped_mean2 = df.groupby(['type_1','type_2'])['attack'].mean().sort_values()
print(grouped_mean2)
grouped_mean2.to_json("grouped_mean.json")

type_1   type_2
Bug      Water        30.000000
Water    Fairy        35.000000
Ice      Psychic      40.000000
Ghost    Fire         41.666667
Normal   Fairy        45.000000
                        ...
Dragon   Electric    150.000000
Bug      Fighting    155.000000
Psychic  Fighting    160.000000
         Dark        160.000000
Ground   Fire        180.000000
Name: attack, Length: 154, dtype: float64